<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>
  <p>
    <strong>Phone Number:</strong>
    <%= @restaurant.phone_number %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-warning" %>
  <%= link_to 'Back', restaurants_path, class: "btn btn-dark" %>
  <div class="container mt-4 text-center">
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-warning" %>
    <%= link_to 'Back', restaurants_path, class: "btn btn-dark" %>
    <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
  </div>
  <div class="container my-4">
    <ul class="list-group">
      <% @restaurant.reviews.each do |element| %>
        <li class="list-group-item my-2">
        <%= element.content %>
        <%= link_to "Remove",
        review_path(params[:id]),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  </div>
</div
